.vscode
.git
__pycache__
**/cmake-build-debug
**/cmake-build-release
**/output
**/source
app/report-generator
build-tools/docker
doc
install
images/pre-processed
lab/benchmark
lab/experiments
lab/test/seg

