<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parameter tuning report</title>

    <link rel="stylesheet" type="text/css" href="report.css"></link>
    <script type="text/javascript" src="report.js"></script>

</head>
<body>
    <h1>Parameter tuning report</h1>

<div class="table">
<div class="row">
    {% for param in paramCollection %}
        <div class="collumn" menu>
            <ul>
                <li class="header">{{ param.name }}</li>
                {% for item in param.items %}
                    <li class="button" onclick="select(this)" path="{{ item['path'] }}" type="{{ param.type }}">{{ item['value'] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
</div>

<div class="display">
    <div class="display-1 full active">

        <div class="seeds">
            <img src="radius_5/opt_band_2/neigh_size_0/len_pen_0.00000/data_term0.00000/curvature_term1.00000/seeds.png" /><br>
            Input seeds
        </div>

        <div class="grabcut-seg">
            <img src="radius_5/opt_band_2/neigh_size_0/len_pen_0.00000/data_term0.00000/curvature_term1.00000/gc-seg.png" /><br>
            Grabcut segmentation
        </div>

        <div class="corrected-seg">
            <img src="invalid.png" onclick="open_src(this)" onerror="this.src='invalid.png'" /><br>
            Contour correction via graph-flow
        </div>
    </div>

</div>

</body>
</html>
